
<div class="container">

<h3><span class="label label-default">Day 1</span></h3>

<div class="row">

<% _.each(day1topics, function(topic, index){ %>

  <% if(index%4===0 && index>0) {%>
    </div>
    <div class="row">
  <% } %>

  <div class="col-sm-3 col-md-3">
    <br/>
    <p>
    <div class="thumbnail">
      <img src=<%=topic.projectImage%> alt="...">
      <h4 class="speaker"><strong><%= topic.speaker %></strong></h4>
      <h4 class="speakerinfo"><%= topic.info %></h4>
      <h5 class="topicname"><%= topic.name %></h5>
    </div>
  </div>

<% }) %>

</div>

<h3><span class="label label-default">Day 2</span></h3>

<div class="row">

<% _.each(day2topics, function(topic, index){ %>

  <% if(index%4===0 && index>0) {%>
    </div>
    <div class="row">
  <% } %>

  <div class="col-sm-3 col-md-3">
    <br/>
    <p>
    <div class="thumbnail">
      <img src=<%=topic.projectImage%> alt="...">
      <h4 class="speaker"><strong><%= topic.speaker %></strong></h4>
      <h4 class="speakerinfo"><%= topic.info %></h4>
      <h5 class="topicname"><%= topic.name %></h5>
    </div>
  </div>

<% }) %>

</div>

<h3><span class="label label-default">Agenda on June.22</span></h3>


<% _.each(day1Agendas, function(agenda, index){ %>
  
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><%= agenda.name %></div>
    <div class="panel-body">
      <p>Address: <span style="color: #c7551c; fond-size:18px"><%=agenda.address %></span></p>
    </div>

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Speaker</th>
          <th>When</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(agenda.topics, function(topic, index){ %>
          <tr>
            <td style="width:600px"><%= topic.name %></td>
            <td><strong><%= topic.speaker %></strong></td>
            <td><%= topic.when %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

<% }) %>

<h3><span class="label label-default">Agenda on June.23</span></h3>


<% _.each(day2Agendas, function(agenda, index){ %>
  
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><%= agenda.name %></div>
    <div class="panel-body">
      <p>Address: <span style="color: #c7551c; fond-size:18px"><%=agenda.address %></span></p>
    </div>

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Speaker</th>
          <th>When</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(agenda.topics, function(topic, index){ %>
          <tr>
            <td style="width:600px"><%= topic.name %></td>
            <td><strong><%= topic.speaker %></strong></td>
            <td><%= topic.when %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

<% }) %>

</div>

